name: Deploy to GitHub Pages

on:
  push:
    branches:
      - WebGL

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Emscripten
      uses: mymindstorm/setup-emsdk@v14

    - name: Build emscripten + cmake + make
      run: |
        mkdir build
        pushd build
        emcmake cmake ..
        emmake make
        mkdir ../output-html
        mv *.html *.js *.wasm ../output-html
        popd

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./output-html
